@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Montserrat|Nunito+Sans:400,700|Open+Sans:300,400,800');
@import '../../node_modules/grommet/scss/aruba/aruba.defaults';
@import "settings";
@import '../../node_modules/grommet/scss/grommet-core/index';



body {
  /* Old browsers */
  //background: -moz-linear-gradient(left, #828286 0%, #828286 33%, #ffffff 65%, #ffffff 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(left, #828286 0%, #828286 33%, #ffffff 65%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to right, #828286 0%, #828286 33%, #ffffff 65%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828286', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
  background-color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.gsp-logotext {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -1px;
  color: white !important;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  span {
    font-family: "Black Ops One", cursive;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 13px 15px 5px 15px;
    letter-spacing: -1px;
    line-height: 50px;
  }
}

h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif !important;
}


h4, h5 {
  line-height: 1.4;
}

.app-main-container {
  overflow: hidden;
}

.ping-list-value {
  border-bottom: 5px solid gray;
  transition: border-bottom-width .1s, border-bottom-color .1s;
  min-width: 40px;
}

.ping-list-row:hover .ping-list-value, .grommetux-list-item--selected .ping-list-value {
  border-bottom: 10px solid gray;
}

.ping-list-row:hover, .grommetux-list-item--selected {
  .server-list-name, .server-list-sub {
    font-weight: bold;
  }
}

.grommetux-title {
  font-weight: 400;
}

.grommetux-value__value {
  font-weight: 400;
}

.ping-list-row:hover .control-box {
  width: 85px;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: visible;

  .grommetux-anchor__icon {
    display: inline-block;
  }
}

.server-list-box {
  .grommetux-list--selectable .grommetux-list-item {
    //max-width: 360px;
  }
}

.server-meter-chart {
  .grommetux-chart-axis {
    margin-top: 0;

    span {
      font-size: 12px;
    }

    &.grommetux-chart-axis--vertical {
      span {
        border-top: 1px solid rgb(31, 84, 128);
      }
    }
  }

  .grommetux-chart-marker-label {
    font-size: 13px;
  }
}

.server-meter-box {
  background-color: #e6e6e6;
}

.control-box {
  width: 0px;
  transition: all 0.3s;
  overflow: hidden;
  white-space: nowrap;

  .grommetux-anchor__icon {
    margin: 0;
    padding: 8px;
    display: none;
  }
}

.server-list-name {
  //transition: all .5s;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;

  &.pinging-server {
    border-bottom: 5px solid #367aff;
  }
}

.server-list-sub {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grommetux-color-index-ping-50 {
  stroke: rgb(143, 204, 51) !important;
  color: rgb(143, 204, 51) !important;
}

.grommetux-color-index-ping-100 {
  stroke: rgb(181, 204, 51) !important;
  color: rgb(181, 204, 51) !important;
}

.grommetux-color-index-ping-150 {
  stroke: rgb(204, 189, 51) !important;
  color: rgb(204, 189, 51) !important;
}

.grommetux-color-index-ping-200 {
  stroke: rgb(204, 150, 51) !important;
  color: rgb(204, 150, 51) !important;
}

.grommetux-color-index-ping-250 {
  stroke: rgb(204, 112, 51) !important;
  color: rgb(204, 112, 51) !important;
}

.grommetux-color-index-ping-300 {
  stroke: rgb(204, 51, 51) !important;
  color: rgb(204, 51, 51) !important;
}

.server-list-spiral .grommetux-meter__label {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.grommetux-form-field__error {
  font-size: 12px;
  line-height: 12px;
  max-width: 150px;
  display: inline-block;
  padding: 0 10px;
}

.grommetux-menu__drop {
  border: 1px solid rgba(0, 0, 0, 0.21);
  background-color: #e0e0e0;
}

.games-menu, .games-menu__drop--container {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  .grommetux-menu__control {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .grommetux-menu__contents {
    font-family: sans-serif;

    a {
      color: black;
    }
  }
}

.game-info-card {
  p {
    margin-top: 0 !important;
  }

  label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
}

#disqus_thread {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  padding: 0 10px;
}

.grommetux-header {
  background-color: #92acd4;
}

h2.grommetux-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 32px;
}

@media screen and (max-width: 44.9375em) {

  #disqus_thread, .disqus-comment-count, .hide-for-mobile {
    display: none !important;
  }

  .server-meter-box {
    order: 3;
  }
}